<a href="https://colab.research.google.com/github/poorna305/poorna305/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
name = "jhon"
print(name)

jhon

In [ ]:
name = "jhon"
age = 20
precent = 90.5
print(name, age, precent)

jhon 20 90.5

In [ ]:
#used to find data types
type(name)

str

In [ ]:
#tuple
student1 = ("jhon", 20, 90.5)
print(student1)

('jhon', 20, 90.5)

In [ ]:
#list
student = ["jhon",20,90.5]
print(student)

['jhon', 20, 90.5]

In [ ]:
#set
student = { 'name':'jhon', 'age':20, 'precent':90.5}
print(student)

{'name': 'jhon', 'age': 20, 'precent': 90.5}

In [ ]:
#keys in set
student.keys()

dict_keys(['name', 'age', 'precent'])

In [ ]:
# values in set
student.values()

dict_values(['jhon', 20, 90.5])

In [ ]:
#boolen means true/flase
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
#arithmetic operators
x = 4
y = 6
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)

10
-2
24
0.6666666666666666
4
4096

In [ ]:
# comparison operators
x = 7
y = 9
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

In [ ]:
#assignment operators
x=7
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
x//=3
print(x)
x**=3
print(x)

10
7
21
7.0
1.0
0.0
0.0

In [ ]:
#logical operators
x=7
y=6
(x>y) and (x<y)
(x>y) or (x<y)
not(x>y)

False

In [ ]:
#menbership operators
x = "hello"
print("e" in x)
print("e" not in x)

True
False

In [ ]:
#list and methods
name = ['preethi','shivani','ramya']
name.append('jhon')

In [ ]:
name

['preethi', 'shivani', 'ramya', 'jhon']

In [ ]:
name = ['preethi','shivani','ramya']
name.insert(1,'jhon')

In [ ]:
name

['preethi', 'jhon', 'shivani', 'ramya']

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.remove('jhon')

In [ ]:
name

['preethi', 'shivani', 'ramya']

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.pop(0 )

'preethi'

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.clear()

In [ ]:
name

[]

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.sort()

In [ ]:
name

['jhon', 'preethi', 'ramya', 'shivani']

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.reverse()

In [ ]:
name

['jhon', 'ramya', 'shivani', 'preethi']

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.index('ramya')

2

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.count('preethi')

1

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.copy()

['preethi', 'shivani', 'ramya', 'jhon']

In [ ]:
name = ['preethi','shivani','ramya','jhon']
name.extend('jhon')

In [ ]:
name

['preethi', 'shivani', 'ramya', 'jhon', 'j', 'h', 'o', 'n']

In [ ]:
#string and its methods
txt = "hello, welcome to my world."
x = txt.capitalize()
print(x)

Hello, welcome to my world.

In [ ]:
txt = "Hello, welcome to my world."
x = txt.upper()
print(x)

HELLO, WELCOME TO MY WORLD.

In [ ]:
txt = "Hello, welcome to my world."
x = txt.lower()
print(x)

hello, welcome to my world.

In [ ]:
txt = "Hello, welcome to my world."
x = txt.replace("welcome", "bye")
print(x)

Hello, bye to my world.

In [ ]:
txt = "Hello, welcome to my world."
x = txt.split("e")
print(x)

['H', 'llo, w', 'lcom', ' to my world.']

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [ ]:
txt = "Hello, welcome to my world."
x = txt.swapcase()
print(x)

hELLO, WELCOME TO MY WORLD.

In [ ]:
txt = "Hello, welcome to my world."
x = txt.title()
print(x)

Hello, Welcome To My World.

In [ ]:
txt = "Hello, welcome to my world."
x = txt.count("e")
print(x)

3

In [ ]:
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [ ]:
txt = "Hello, welcome to my world."
x = txt.endswith("world.")
print(x)

True

In [ ]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [ ]:
txt = "company45"
x = txt.isalnum()
print(x)

True

In [ ]:
txt = "company"
x = txt.isalpha()
print(x)

True

In [ ]:
txt = "company"
x = txt.isnumeric()
print(x)

False

In [ ]:
txt = "company"
x = txt.isupper()
print(x)

False

In [ ]:
txt = "company"
x = txt.islower()
print(x)

True

In [ ]:
txt = "Company"
x = txt.isdigit()
print(x)

False

In [ ]:
name = ["preethi","shivani","ramya","jhon"]
joined = "_ ".join(name)
print(joined)

preethi_ shivani_ ramya_ jhon

In [ ]:
name = "preethi shivani ramya jhon"
x = name.strip(" ")
print(x)

preethi shivani ramya jhon

In [ ]:
#conditional statements
a,b = 45,56
if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is less than b")

a is less than b

In [ ]:
# funtion definding
def my_function():
  print("Hello from a function")

In [ ]:
# funtion calling
my_function()

Hello from a function

In [ ]:
# function with arguments
def my_ID(age):
   print("preethi_"+ age)

my_ID("20")

preethi_20

In [ ]:
def add(x,y,z):
  return x+y+z

add(1,2,3)

6

In [ ]:
# using lambda function
add = lambda x,y,z:x+y+z
add(1,2,3)

6

In [ ]:
# map funtion
nums = [1,2,3,4,5]

def square(x):
  return x*x

suqure = map(square,nums)
print(list(suqure))

[1, 4, 9, 16, 25]

In [ ]:
# zip funtion
name = ["preethi","shivani","ramya","jhon"]
age = [20,19,19,23]

mapped = zip(name,age)
print(list(mapped))

[('preethi', 20), ('shivani', 19), ('ramya', 19), ('jhon', 23)]

In [ ]:
#for loop
fruits = ["apple","banana","cherry","watermelon"]
for x in fruits:
  print(x)

apple
banana
cherry
watermelon

In [ ]:
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry
watermelon

In [ ]:
# while loop
num = 1
while num <= 11:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
num = 1
while num <= 10:
  print(num)
  if num == 5:
    break
  num += 1

1
2
3
4
5

In [ ]:
num = 1
while num <= 10:
  num += 1
  if num == 5:
    continue
  print(num)

2
3
4
6
7
8
9
10
11

In [ ]:
#tuples - standard method
fruits = ("apple","banana","cherry")
print (fruits)

('apple', 'banana', 'cherry')

In [ ]:
#allow duplicate
fruits = ("apple","banana","cherry","apple")
print(fruits)

('apple', 'banana', 'cherry', 'apple')

In [ ]:
# count method
num = (1,2,3,4,5,6,7,8,9,10)
num.count(5)

1

In [ ]:
#index method
num =(1,2,3,4,5,6,7,8,9,10)
num.index(5)

4

In [ ]:
#min and max method
num = (2,4,5,8,1,5,9,4,1,7)
min(num)

1

In [ ]:
num = (2,4,5,8,1,5,9,4,1,7)
max(num)

9

In [ ]:
# dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
#get method
car.get("brand")

'Ford'

In [ ]:
#items method
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
#values method
car.values()

dict_values([None, None, None])

In [ ]:
#pop method
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#keys method
car.keys()

dict_keys(['brand', 'year'])

In [ ]:
#popitems methods
car.popitem()
print(car)

{'brand': 'Ford'}

In [ ]:
# update methods
car.update({"color":"red"})
print(car)

{'brand': 'Ford', 'color': 'red'}

In [ ]:
#copy methods
car1 = car.copy()
print(car1)

{'brand': 'Ford', 'color': 'red'}

In [ ]:
#from keys
car2 = dict.fromkeys(["brand","model","year"])
print(car2)

{'brand': None, 'model': None, 'year': None}

In [ ]:
# set default
car3 = car.setdefault("color","black")
print(car3)

black

In [ ]:
# set
#intersection method
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [ ]:
#union method
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}
z = x.union(y)
print(z)

{'google', 'microsoft', 'cherry', 'apple', 'banana'}

In [ ]:
#add method
x = {"apple","banana","cherry"}
x.add("orange")
print(x)

{'cherry', 'apple', 'banana', 'orange'}

In [ ]:
#pop method
x = {"apple","banana","cherry"}
x.pop()
print(x)

{'apple', 'banana'}

In [ ]:
# remove method
x = {"apple","banana","cherry"}
x.remove("banana")
print(x)

{'cherry', 'apple'}

In [ ]:
#copy method
x = {"apple","banana","cherry"}
y = x.copy()
print(y)

{'cherry', 'apple', 'banana'}

In [ ]:
#difference method
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [ ]:
#discard method
x = {"apple","banana","cherry"}
x.discard("banana")
print(x)

{'cherry', 'apple'}

In [ ]:
# issuperset method
x = {"f","e","d","c","b","a"}
y = {"f","e","d","c","b","a"}
z = x.issuperset(y)
print(z)

True

In [ ]:
#update method
x = {"apple","banana","cherry"}
y = {"google","microsoft","apple"}
x.update(y)
print(x)

{'google', 'microsoft', 'cherry', 'apple', 'banana'}

In [ ]:
#issubset method
x = {"a","b","c"}
y = {"f","e","d","c","b","a"}
z = x.issubset(y)
print(z)

True

In [ ]:
#tuple
create_city = create_city = ("bangalore",28.9949521,72)
create_city2 = ('chennai',30.01,74)
print(create_city)
print(create_city2)

('bangalore', 28.9949521, 72)
('chennai', 30.01, 74)

In [ ]:
create_city = create_city = ("bangalore",28.9949521,72)
create_city2 = ('chennai',30.01,74)